* {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        gap: 1rem;
        margin: 0;

        main {
            display: flex;
            flex-direction: column;
            flex: 1;

            .instructions {
                padding: 2rem;
                background-color: beige;
                border-radius: 10px;
            }

            .inputs {
                padding: 2rem;
            }
        }
    }
}